@import './vars.scss';

Button {
  padding: 1.2% 2.2%;
}

.main {
  max-width: 1200px;
  margin: auto;

  &__content {
    margin-top: 15px;
    padding: 24px 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: $shadow;

    .main__list {
      display: flex;
      margin-top: 10px;
    }

    .main__buttons {
      padding: 0% 1%;
      display: flex;
      gap: 5px;
    }

    .main__item {
      width: 100%;
      gap: 10px;
      display: flex;
      justify-content: space-between;

      p {
        padding: 1% 0.5%;
        width: 148px;
      }

      div {
        display: flex;

        img:nth-child(2) {
          margin: 0% 16px;
        }
      }
    }

    .bg-silver {
      background-color: #ededed;
    }

    .main__spinner {
      margin-top: 2%;
      display: flex;
      justify-content: center;
    }
  }

  Input {
    padding: 10px;
    width: 128px;
    margin-top: 15px;
  }
}
