@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  @extend %font-weigth;
  background-color: #f9f9f9;
  font-size: 14px;
}

input {
  @extend %font-weigth;
  outline: none;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #909090;
}

ul {
  list-style: none;
}

button {
  @extend %font-weigth;
  background-color: white;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='date'] {
  @extend %font-weigth;
}

.success-status {
  @include toast($active)
}

.error-status {
  @include toast($danger)
}