.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pagination__list {
    margin-top: 24px;
    display: flex;
    gap: 5px;

    .pagination__items {
      display: flex;
      gap: 5px;
    }

    .active {
      background-color: #0098da;
      color: white;
    }

    .pagination__button {
      width: 32px;
      height: 32px;
      border: 1px solid #2c2e3526;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        transition: all ease-in 100ms;
        background-color: #01a3e9;
        color: white;
      }

      &:active {
        background-color: #31c1ff;
      }
    }

    .pagination__navigate {
      width: 32px;
      height: 32px;
      border: 1px solid #2c2e3526;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #dbdbdb;
      }

      &:active {
        background-color: #e5e5e5;
      }

      &:disabled {
        cursor: default;
        background-color: #dbdbdbc8;
      }
    }
  }

  .pagination__note {
    margin-top: 25px;
    color: #00000080;
  }
}