$primary: #0098da;
$active: #80cc05;
$danger: #ff0000;
$neutral: #909090;

$shadow: 0px 12px 24px 0px #00000026;
$font: 'Inter', sans-serif;

@mixin toast($color) {
  color: $color;
  margin-top: 3%;
}

%font-weigth {
  font-family: $font;
  font-weight: 400;
}

%pagination-button {
  width: 32px;
  height: 32px;
  border: 1px solid #2c2e3526;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}