@import '@/assets/styles/vars.scss';

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pagination__list {
    margin-top: 24px;
    display: flex;
    gap: 5px;

    .pagination__items {
      display: flex;
      gap: 5px;
    }

    // 0098da
    .active {
      background-color: $primary;
      color: white;
    }

    .pagination__button {
      @extend %pagination-button;

      &:hover {
        transition: all ease-in 100ms;
        background-color: $primary;
        color: white;
      }

      &:active {
        background-color: $primary;
      }
    }

    .pagination__navigate {
      @extend %pagination-button;

      &:hover {
        background-color: #dbdbdb;
      }

      &:active {
        background-color: #e5e5e5;
      }

      &:disabled {
        cursor: default;
        background-color: #dbdbdbc8;
      }
    }
  }

  .pagination__note {
    margin-top: 25px;
    color: #00000080;
  }
}
